{%extends "components/includes/base.html"%}
{%block content%}
    

  	<div class="container">
  		<form class="form-signin" role="form" action="createuser" method="post">
  			<h2 class="form-signin-heading">Create a new user</h2>

  			<div class="form-group">
  				<label for="">Username</label>
  				<input type="text" class="form-control" id="username" name="username" placeholder="Username">
  			</div>

  			<div class="form-group">
  				<label for="">Password</label>
  				<input type="password" class="form-control" id="password" name="password" placeholder="Password">
  			</div>

  			<button type="submit" class="btn btn-primary">Submit</button>
  		</form>
  	</div>
  	<div class="row">
  		<div class="msg">
  			{%if loginError == True%}
  			<div class="panel panel-danger">
  				<div class="panel-heading">
  					<h3 class="panel-title">Error in login</h3>
  				</div>
  				<div class="panel-body">
  					User/pass invalid
  				</div>
  			</div>
  			{%endif%}
        {%if creationSuccess == True%}
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Success</h3>
          </div>
          <div class="panel-body">
            User created successfully!
          </div>
        </div>
        {%endif%}
        {%if creationSuccess == False%}
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Error</h3>
          </div>
          <div class="panel-body">
            User invalid or already exist
          </div>
        </div>
        {%endif%} 
  		</div>
  	</div>
  </div>
{%endblock%}