{%extends "components/includes/base.html"%}
{%block content%}
<h1 class="text-center">{{uri}}</h1>
<table class="table table-striped table-hover table-responsive">
	<thead>
		<tr>
			<th>p</th>
			<th>o</th>
		</tr>
	</thead>
	<tbody>
	{%for row in queries.main%}
		<tr>
			<td>{{row.p.value}}</td>
			<td>{{row.o.value}}</td>
		</tr>
	{%endfor%}
	</tbody>
</table>
{%endblock%}